body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: white;
    margin: 0;
    min-height: 100vh; /* Ocupa al menos toda la ventana */
    display: flex;
    flex-direction: column; /* Organiza elementos verticalmente */
}

.header {
    width: 100%;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

.nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    text-align: right;
    width: 100%;
}

.nav a {
    color: rgb(245, 243, 238);
    text-decoration: none;
    margin-right: 15px;
}

.nav a:hover {
    color: #007bff;
}


main {
    padding: 20px;
    flex: 1; /* Permite que el contenido principal ocupe todo el espacio restante */
    overflow-y: auto;
}

.form-container {
    border: 1px dotted #ccc;
    padding: 2%;
    max-width: 40%;
    text-align: left;
    background-color: #333;
    border-radius: 5%;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2%;
    font-weight: bold;
}

input, select {
    margin-bottom: 1.5%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
}

input:focus, select:focus {
    outline: none;
    border-color: #007bff;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5%;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
}

.submit-button:hover {
    background-color: #0056b3;
}

footer {
    width: 100%;
    padding: 1.1%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Cambiar a fixed para que esté siempre pegado abajo */
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    body {
        height: 100vh; /* Asegura que el cuerpo ocupe toda la altura */
        overflow: hidden; /* Evita la barra de desplazamiento vertical */
    }

    main {
        padding: 20px;
        overflow-y: auto; /* Permite el desplazamiento del contenido principal */
    }

    .form-container {
        max-width: 90%; /* Ajusta el formulario para pantallas pequeñas */
    }

    .button-container {
        align-items: stretch;
    }

    .submit-button {
        font-size: 1rem;
    }

    footer {
        position: fixed; /* Asegura que el footer permanezca fijo abajo */
    }
}
