body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: white;
    margin: 0;
    min-height: 100vh; /* El cuerpo ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column; /* Flex para organizar elementos */
    overflow: hidden; /* Evita barras de desplazamiento vertical innecesarias */
}

.header {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

/* Navegación */
.nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: right;
    width: 100%;
}

.nav a {
    color: rgb(245, 243, 238);
    text-decoration: none;
    margin-right: 15px;
}

.nav a:hover {
    color: #007bff;
}


.container {
    padding: 2%;
    flex: 1; /* Permite que el contenedor principal ocupe el espacio restante */
    overflow-y: auto; /* Habilita el desplazamiento solo en el contenedor */
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    align-items: flex-start;
}

.payment-method {
    border: 1px dashed rgb(255, 255, 255);
    padding: 1.5%;
    display: inline-block;
    margin-bottom: 0.5%;
}

.payment-method label {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.payment-method img {
    height: auto;
    margin-left: 10%;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15%;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-button:hover {
    background-color: #0056b3;
}

footer {
    width: 100%;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Cambia a fixed para que esté siempre visible */
    bottom: 0; /* Fija el footer al final de la pantalla */
    left: 0;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    body {
        height: 100vh; /* Asegura que el cuerpo ocupe toda la altura */
        overflow: hidden; /* Evita la barra de desplazamiento vertical */
    }

    .container {
        padding: 2%;
        overflow-y: auto; /* Solo el contenido puede desplazarse si es necesario */
    }

    .button-container {
        align-items: stretch;
    }

    .submit-button {
        font-size: 1rem;
    }

    footer {
        position: fixed; /* El footer se mantiene fijo abajo */
    }
}
