* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 0.1%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

.nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5%;
    text-align: right;
    width: 100%;
}

.nav a {
    color: rgb(245, 243, 238);
    text-decoration: none;
    margin-right: 2%;
}

.nav a:hover {
    color: #007bff;
}

.container {
    width: 90%;
    margin: 2% auto 0;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

.cart-table th, .cart-table td {
    border: 1px solid #ccc;
    padding: 2%;
    text-align: center;
}

.cart-total {
    text-align: right;
    font-weight: bold;
    margin-top: 2%;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1.5%;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.submit-button:hover {
    background-color: #0056b3;
}

footer {
    width: 100%;
    padding: 1.1%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-y: hidden;
    }

    .nav {
        text-align: center;
    }
}
